name: Build and Deploy to Cloud Run

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  id-token: write

env:
  PROJECT_ID: dengue-forecasting-486221
  REGION: europe-west6
  REPO: dengue-repo
  IMAGE: dengue-forecasting
  SERVICE: dengue-forecasting

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - id: auth
        uses: google-github-actions/auth@v3
        with:
          workload_identity_provider: projects/277673542073/locations/global/workloadIdentityPools/github-pool/providers/github-provider
          service_account: github-deployer@dengue-forecasting-486221.iam.gserviceaccount.com

      - name: Configure gcloud
        uses: google-github-actions/setup-gcloud@v3

      - name: Configure Docker auth
        run: gcloud auth configure-docker ${REGION}-docker.pkg.dev

      - name: Build
        run: docker build -f Intellishore/Dockerfile -t ${REGION}-docker.pkg.dev/${PROJECT_ID}/${REPO}/${IMAGE}:${GITHUB_SHA} Intellishore

      - name: Push
        run: docker push ${REGION}-docker.pkg.dev/${PROJECT_ID}/${REPO}/${IMAGE}:${GITHUB_SHA}

      - name: Deploy to Cloud Run
        uses: google-github-actions/deploy-cloudrun@v3
        with:
          service: ${{ env.SERVICE }}
          image: ${{ env.REGION }}-docker.pkg.dev/${{ env.PROJECT_ID }}/${{ env.REPO }}/${{ env.IMAGE }}:${{ github.sha }}
          region: ${{ env.REGION }}
          flags: --allow-unauthenticated
